.Post-box {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Post-Card {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 0;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Questions-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.Answer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Inp {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.ButtonGroup {
    margin-top: 5px;
    width: 80%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
}

.Card {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 0;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.Votes {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    align-items: center;
}

.Votes p {
    margin: 20px;
}