.Header {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    width: 80%;
}

.Create-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Create {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}