.background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: white;
  }
  
  .logo {
    height: 30px;
  }
  
  .fa-search {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .input-container {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  input[type="text"] {
    border: none;
    border-radius: 5px;
    width: 300px;
  }
  
  input[type="text"]:focus {
    outline: none;
  }
  
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
  
  .btn {
    border: none;
    border-radius: 5px;
  }
  
  .btn-dark {
    background-color: #343a40;
    color: white;
  }
  