.background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; /* optional: set a high z-index value to ensure it stays on top of other content */
}

.logo {
  height: 30px;
}
.logo:hover{
  cursor: pointer;
}

.fa-search {
  margin-right: 10px;
  font-size: 24px;
}

.search {
  display: flex;
  width: 40%;
  gap: 1rem;
  height: 40px;
}

.input-container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
}

input[type="text"] {
  border: none;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
}

.btn-container {
  /* border: 1px solid #3a5a82; */
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.btn-dark {
  background-color: #3a5a82;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  font-size: 15px;
  text-decoration: none;
}

.btn-dark:hover {
  opacity: 0.8;
  color: white;
}

.user img {
  border: 2px solid #3a5a82;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}


/* mobile nav */

.background-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; /* optional: set a high z-index value to ensure it stays on top of other content */
}

.search-mobile {
  display: flex;
  width: 60%;
  height: 40px;
}

.input-container-mobile {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 5;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: #3a5a82;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.drawer {
  position: fixed;
  overflow-x: hidden;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: white;
  display: flex;
  z-index: 10;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.5s;
  background-color: #3a5a82;
  padding-top: 100px;
}

.drawer-open {
  width: 50%;
}

.drawer-item{
  font-size: 30px;
  margin: 25px;
  text-decoration: none;
  white-space: nowrap;
  color: BLACK;
}

.drawer .close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  font-size: 50px;
  color: white;
}
.dark-mode {
  background-color: rgba(24, 24, 24, 0.6);
}

.dark-mode .background {
  background-color: rgba(24, 24, 24, 0.6);
}

.dark-mode .btn-dark {
  background-color: white;
  color: #3a5a82;
}

.dark-mode .btn-dark:hover {
  background-color: #3a5a82;
  color: white;
}

.dark-mode .logo:hover{
  cursor: pointer;
}

.dark-mode .search {
  background-color: #e4e4e4;
}

.dark-mode .input-container {
  border: 1px solid white;
  background-color: #e4e4e4;
}

.dark-mode input[type="text"] {
  background-color: #e4e4e4;
}

.dark-mode .btn-container {
  background-color: #e4e4e4;
}

.dark-mode .user img {
  border: 2px solid white;
}
