.post {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 1.5% 10%;
    border-radius: 5px;
    background: white;
  }


  .post h2 {
    color: #36393e;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
  }


  .post p {
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    margin-bottom: 10px;
  }

  .post p span.author {
    font-weight: 600;
  }

  .post a {
    color: #000;
  }

  .bottom-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-post .post-info {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 12px;
    gap: 10px;
  }

  .post-info .post-views {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .post a:link,
  .post a:visited {
    text-decoration: none;
  }
