.background {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
}

.background .logo {
    width: 100px;
    margin-right: auto;
}

.background input{
    margin-right: auto;
}