.user-page {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .back-btn {
    position: absolute;
    margin-left: 2rem;
    left: 0;
    background-color: #3a5a82;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }

  .user-page-title {
    margin: 20px 0;
    font-size: 36px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .user-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .user-name {
    font-size: 24px;
  }

  .your-posts {
    margin: 1.5% 10%;
  }

  .previous-questions-title {
    margin: 20px 0;
    font-size: 24px;
  }

  .previous-questions-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .previous-question {
    margin: 10px 0;
    font-size: 20px;
  }

  .question-link {
    text-decoration: none;
    color: #3f51b5;
    transition: all 0.3s ease-in-out;
  }

  .question-link:hover {
    color: #2196f3;
  }
